@charset "UTF-8";
@font-face {
  font-family: "amhi-font";
  src: url("fonts/amhi-font.eot");
  src: url("fonts/amhi-font.eot?#iefix") format("embedded-opentype"), url("fonts/amhi-font.woff") format("woff"), url("fonts/amhi-font.ttf") format("truetype"), url("fonts/amhi-font.svg#amhi-font") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "amhi-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "amhi-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-airplane21:before {
  content: "a"; }

.icon-add-photo:before {
  content: "b"; }

.icon-borrow-money:before {
  content: "c"; }

.icon-calculator:before {
  content: "d"; }

.icon-cash:before {
  content: "e"; }

.icon-chat-icon:before {
  content: "f"; }

.icon-check:before {
  content: "g"; }

.icon-check-box:before {
  content: "h"; }

.icon-cheque:before {
  content: "i"; }

.icon-circle-icon-1:before {
  content: "j"; }

.icon-circle-icon-2:before {
  content: "k"; }

.icon-circle-icon-4:before {
  content: "m"; }

.icon-circle-icon-5:before {
  content: "n"; }

.icon-filled-check:before {
  content: "p"; }

.icon-female-icon:before {
  content: "q"; }

.icon-faqs:before {
  content: "r"; }

.icon-factors:before {
  content: "s"; }

.icon-energy:before {
  content: "t"; }

.icon-do-nothing:before {
  content: "u"; }

.icon-demanddraft:before {
  content: "v"; }

.icon-dateofbirth:before {
  content: "w"; }

.icon-cross:before {
  content: "x"; }

.icon-credit-card:before {
  content: "y"; }

.icon-contact:before {
  content: "z"; }

.icon-compromise:before {
  content: "A"; }

.icon-half-star:before {
  content: "C"; }

.icon-header-arrow:before {
  content: "D"; }

.icon-height:before {
  content: "E"; }

.icon-incomplete-policy:before {
  content: "F"; }

.icon-login-screen-arrow:before {
  content: "G"; }

.icon-mail:before {
  content: "H"; }

.icon-male-icon:before {
  content: "I"; }

.icon-new-document:before {
  content: "J"; }

.icon-new-policy:before {
  content: "K"; }

.icon-next-arrow:before {
  content: "L"; }

.icon-notification:before {
  content: "M"; }

.icon-optima-plus:before {
  content: "N"; }

.icon-umbrella:before {
  content: "O"; }

.icon-top-arrow:before {
  content: "P"; }

.icon-sync-proposal:before {
  content: "Q"; }

.icon-sync:before {
  content: "R"; }

.icon-stethoscope:before {
  content: "S"; }

.icon-star-icon:before {
  content: "T"; }

.icon-rupee:before {
  content: "U"; }

.icon-renewal:before {
  content: "V"; }

.icon-reduce-saving:before {
  content: "W"; }

.icon-proposal-incomplete:before {
  content: "X"; }

.icon-profile:before {
  content: "Y"; }

.icon-pie-chart:before {
  content: "Z"; }

.icon-optima-super:before {
  content: "0"; }

.icon-umbrella-1:before {
  content: "1"; }

.icon-umbrella-hollow:before {
  content: "2"; }

.icon-upgrade:before {
  content: "3"; }

.icon-videos:before {
  content: "4"; }

.icon-weight:before {
  content: "5"; }

.icon-clear-policies:before {
  content: "6"; }

.icon-optima-cash:before {
  content: "B"; }

.icon-grace-period:before {
  content: "7"; }

.icon-maxima:before {
  content: "8"; }

.icon-cashless:before {
  content: "l"; }

.icon-optima-restore:before {
  content: "o"; }

